---
# https://clang.llvm.org/extra/clang-tidy/index.html
# https://clang.llvm.org/extra/clang-tidy/checks/list.html
Checks: >
    clang-diagnostic-*,
    clang-analyzer-*,
    bugprone-*,
    cert-*,
    cppcoreguidelines-slicing,
    modernize-*,
    performance-*,
    readability-*,
    misc-*,
    -clang-analyzer-security.insecureAPI.strcpy,
    -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
    -bugprone-easily-swappable-parameters,
    -bugprone-implicit-widening-of-multiplication-result,
    -bugprone-narrowing-conversions,
    -bugprone-unchecked-optional-access,
    -modernize-avoid-c-arrays,
    -modernize-macro-to-enum,
    -modernize-redundant-void-arg,
    -modernize-use-nodiscard,
    -modernize-use-trailing-return-type,
    -modernize-use-using,
    -performance-no-int-to-ptr,
    -readability-avoid-unconditional-preprocessor-if,
    -readability-function-cognitive-complexity,
    -readability-identifier-length,
    -readability-implicit-bool-conversion,
    -readability-magic-numbers,
    -readability-suspicious-call-argument,
    -readability-uppercase-literal-suffix,
    -misc-confusable-identifiers,
    -misc-include-cleaner,
    -misc-non-private-member-variables-in-classes,

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: none
