.codelite
bin
build/VS*/.vs
build/bin
build/temp*
build/*.zip
build/CodeLite/*.mk
build/CodeLite/*.txt
build/CodeLite/*.json
build/CodeLite/Makefile
*.suo
*.sdf
*.user
*.VC.db
*.opendb
*.aps
*.obj
*.exe
*.pyc
*.pyo
*.plist
*.orig
*.log
