.codelite
.vs
bin
build/bin
build/temp*
build/*.zip
build/CodeLite/*.mk
build/CodeLite/*.txt
build/CodeLite/*.json
build/CodeLite/Makefile
build/CodeLite/build*
locale/en
scintilla/scripts/*.html
scintilla/scripts/*.json
scintilla/scripts/*.txt
*.suo
*.sdf
*.user
*.VC.db
*.opendb
*.aps
*.asm
*.s
*.obj
*.o
*.exe
*.cod
*.pyc
*.pyo
*.plist
*.orig
*.log
