version: '4.19.x.{build}'

image:
  - Visual Studio 2017

configuration:
  - Debug
  - Release

platform:
  - x64
  - Win32
  - ARM64

environment:
  matrix:
    - compiler: MSVC
    - compiler: Clang

shallow_clone: true

test: off

deploy: off

matrix:
  fast_finish: true

# No reversion when shallow clone is enabled.
#before_build:
#  - cmd: CALL update_rev.bat

for:
  - # MSVC x64 Debug
    matrix:
      only:
        - configuration: Debug
          platform: x64
          compiler: MSVC

    build_script:
      - cmd: CALL "build\VS2017\build.bat" Build x64 Debug 1

  - # Clang x64 Debug
    matrix:
      only:
        - configuration: Debug
          platform: x64
          compiler: Clang

    build_script:
      - cmd: CALL "build\install_llvm.bat" 1
      - cmd: CALL "build\VS2017\build.bat" Build x64 LLVMDebug 1

  - # MSVC Win32 Debug
    matrix:
      only:
        - configuration: Debug
          platform: Win32
          compiler: MSVC

    build_script:
      - cmd: CALL "build\VS2017\build.bat" Build Win32 Debug 1

  - # Clang Win32 Debug
    matrix:
      only:
        - configuration: Debug
          platform: Win32
          compiler: Clang

    build_script:
      - cmd: CALL "build\install_llvm.bat" 1
      - cmd: CALL "build\VS2017\build.bat" Build Win32 LLVMDebug 1

  - # MSVC ARM64 Debug
    matrix:
      only:
        - configuration: Debug
          platform: ARM64
          compiler: MSVC

    build_script:
      - cmd: CALL "build\VS2017\build.bat" Build ARM64 Debug 1

  - # Clang ARM64 Debug
    matrix:
      only:
        - configuration: Debug
          platform: ARM64
          compiler: Clang

    build_script:
      - cmd: CALL "build\install_llvm.bat" 1
      - cmd: CALL "build\VS2017\build.bat" Build ARM64 LLVMDebug 1

  - # MSVC x64 Release
    matrix:
      only:
        - configuration: Release
          platform: x64
          compiler: MSVC

    build_script:
      - cmd: CALL "build\VS2017\build.bat" Build x64 Release 1
      - cmd: CALL "build\make_zip.bat" MSVC x64 Release 1

    artifacts:
      - path: 'build\Notepad2*.zip'
        name: Notepad2_x64

  - # Clang x64 Release
    matrix:
      only:
        - configuration: Release
          platform: x64
          compiler: Clang

    build_script:
      - cmd: CALL "build\install_llvm.bat" 1
      - cmd: CALL "build\VS2017\build.bat" Build x64 LLVMRelease 1
      - cmd: CALL "build\make_zip.bat" Clang x64 Release 1

    artifacts:
      - path: 'build\Notepad2*.zip'
        name: Notepad2_Clang_x64

  - # MSVC Win32 Release
    matrix:
      only:
        - configuration: Release
          platform: Win32
          compiler: MSVC

    build_script:
      - cmd: CALL "build\VS2017\build.bat" Build Win32 Release 1
      - cmd: CALL "build\make_zip.bat" MSVC Win32 Release 1

    artifacts:
      - path: 'build\Notepad2*.zip'
        name: Notepad2_Win32

  - # Clang Win32 Release
    matrix:
      only:
        - configuration: Release
          platform: Win32
          compiler: Clang

    build_script:
      - cmd: CALL "build\install_llvm.bat" 1
      - cmd: CALL "build\VS2017\build.bat" Build Win32 LLVMRelease 1
      - cmd: CALL "build\make_zip.bat" Clang Win32 Release 1

    artifacts:
      - path: 'build\Notepad2*.zip'
        name: Notepad2_Clang_Win32

  - # MSVC ARM64 Release
    matrix:
      only:
        - configuration: Release
          platform: ARM64
          compiler: MSVC

    build_script:
      - cmd: CALL "build\VS2017\build.bat" Build ARM64 Release 1
      - cmd: CALL "build\make_zip.bat" MSVC ARM64 Release 1

    artifacts:
      - path: 'build\Notepad2*.zip'
        name: Notepad2_ARM64

  - # Clang ARM64 Release
    matrix:
      only:
        - configuration: Release
          platform: ARM64
          compiler: Clang

    build_script:
      - cmd: CALL "build\install_llvm.bat" 1
      - cmd: CALL "build\VS2017\build.bat" Build ARM64 LLVMRelease 1
      - cmd: CALL "build\make_zip.bat" Clang ARM64 Release 1

    artifacts:
      - path: 'build\Notepad2*.zip'
        name: Notepad2_Clang_ARM64
