name: CI

on: [push, pull_request]

defaults:
  run:
    shell: cmd

jobs:
  msvc2022:
    name: Visual C++ 2022
    runs-on: windows-2022
    strategy:
      matrix:
        platform: [Win32, x64, ARM64, AVX2, AVX512]
        configuration: [Release]

    steps:
    - uses: actions/checkout@v6

    - name: Update Version Hash
      run: |
        "c:/Program Files/Git/usr/bin/sed" -i "s/^\(.\+\)[0-9a-f]\{8\}\(.\+\)$/\1%GITHUB_SHA:~0,8%\2/gm" ./src/VersionRev.h ./matepath/src/VersionRev.h

    - name: MSVC ${{ matrix.platform }} ${{ matrix.configuration }}
      run: |
        CALL "build\VisualStudio\build.bat" Build ${{ matrix.platform }} ${{ matrix.configuration }} 1
        CALL "locale\build.bat" Build ${{ matrix.platform }} ${{ matrix.configuration }} 1
        CALL "build\make_zip.bat" MSVC ${{ matrix.platform }} ${{ matrix.configuration }} Locale 1
    
    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_MSVC2022_i18n_${{ matrix.platform }}
          path: 'build\Notepad4_i18n_${{ matrix.platform }}_*.zip'


  llvm_msvc2022:
    name: LLVM (Visual C++ 2022)
    runs-on: windows-2022
    strategy:
      matrix:
        platform: [Win32, x64, ARM64, AVX2, AVX512]
        configuration: [Release]
    steps:
    - uses: actions/checkout@v6
    
    - name: Update Version Hash
      run: |
        "c:/Program Files/Git/usr/bin/sed" -i "s/^\(.\+\)[0-9a-f]\{8\}\(.\+\)$/\1%GITHUB_SHA:~0,8%\2/gm" ./src/VersionRev.h ./matepath/src/VersionRev.h

    - name: Install LLVM
      run: |
        CALL "build\install_llvm.bat" latest 1

    - name: Clang ${{ matrix.platform }} ${{ matrix.configuration }}
      run: |
        CALL "build\VisualStudio\build.bat" Build ${{ matrix.platform }} LLVMRelease 1
        CALL "build\make_zip.bat" LLVM ${{ matrix.platform }} ${{ matrix.configuration }} 1

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_Clang_MSVC2022_en_${{ matrix.platform }}
          path: 'build\Notepad4_LLVM_${{ matrix.platform }}_*.zip'

  llvm_mingw:
    name: llvm-mingw
    runs-on: windows-latest
    strategy:
      matrix:
        platform: [Win32, x64, ARM64, AVX2, AVX512]
        configuration: [Release]
    continue-on-error: true
    steps:
    - uses: actions/checkout@v6

    - name: Update Version Hash
      run: |
        "c:/Program Files/Git/usr/bin/sed" -i "s/^\(.\+\)[0-9a-f]\{8\}\(.\+\)$/\1%GITHUB_SHA:~0,8%\2/gm" ./src/VersionRev.h ./matepath/src/VersionRev.h

    - name: Install llvm-mingw
      run: |
        CALL "build\install_mingw.bat" llvm

    - name: Clang ${{ matrix.platform }} ${{ matrix.configuration }}
      run: |
        CALL "build\mingw\build.bat" llvm x86_64
        CALL "build\make_zip.bat" Clang ${{ matrix.platform }} ${{ matrix.configuration }} 1

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_llvm_mingw_en_${{ matrix.platform }}
          path: 'build\Notepad4_Clang_${{ matrix.platform }}_*.zip'

  gcc_ucrt:
    name: ucrt GCC and Clang
    runs-on: windows-latest
    strategy:
      matrix:
        platform: [Win32, x64, ARM64, AVX2, AVX512]
        configuration: [Release]
    steps:
    - uses: actions/checkout@v6

    - name: Update Version Hash
      run: |
        "c:/Program Files/Git/usr/bin/sed" -i "s/^\(.\+\)[0-9a-f]\{8\}\(.\+\)$/\1%GITHUB_SHA:~0,8%\2/gm" ./src/VersionRev.h ./matepath/src/VersionRev.h

    - name: Install GCC and Clang
      run: |
        CALL "build\install_mingw.bat" ucrt

    - name: GCC ${{ matrix.platform }} ${{ matrix.configuration }}
      run: |
        CALL "build\mingw\build.bat" ucrt
        CALL "build\make_zip.bat" GCC ${{ matrix.platform }} ${{ matrix.configuration }} 1

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_GCC_en_${{ matrix.platform }}_ucrt
          path: 'build\Notepad4_GCC_${{ matrix.platform }}_*.zip'

  gcc_x86_64:
    name: 64-bit GCC and Clang
    runs-on: windows-latest
    strategy:
      matrix:
        platform: [Win32, x64, AVX2, AVX512]
        configuration: [Release]
    steps:
    - uses: actions/checkout@v6

    - name: Update Version Hash
      run: |
        "c:/Program Files/Git/usr/bin/sed" -i "s/^\(.\+\)[0-9a-f]\{8\}\(.\+\)$/\1%GITHUB_SHA:~0,8%\2/gm" ./src/VersionRev.h ./matepath/src/VersionRev.h

    - name: Install GCC and Clang
      run: |
        CALL "build\install_mingw.bat" x86_64

    - name: GCC ${{ matrix.platform }} ${{ matrix.configuration }}
      run: |
        CALL "build\mingw\build.bat" x86_64
        CALL "build\make_zip.bat" GCC ${{ matrix.platform }} ${{ matrix.configuration }} 1

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_GCC_en_${{ matrix.platform }}
          path: 'build\Notepad4_GCC_${{ matrix.platform }}_*.zip'

  gcc_i686:
    name: 32-bit GCC and Clang
    runs-on: windows-latest
    
    continue-on-error: true
    steps:
    - uses: actions/checkout@v6

    - name: Update Version Hash
      run: |
        "c:/Program Files/Git/usr/bin/sed" -i "s/^\(.\+\)[0-9a-f]\{8\}\(.\+\)$/\1%GITHUB_SHA:~0,8%\2/gm" ./src/VersionRev.h ./matepath/src/VersionRev.h

    - name: Install GCC and Clang
      run: |
        CALL "build\install_mingw.bat" i686

    - name: GCC Win32 Release
      run: |
        CALL "build\mingw\build.bat" i686
        CALL "build\make_zip.bat" GCC Win32 Release 1

    - name: Clang Win32 Release
      run: |
        CALL "build\mingw\build.bat" i686 Clang
        CALL "build\make_zip.bat" Clang Win32 Release 1

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_GCC_en_Win32
          path: 'build\Notepad4_GCC_Win32_*.zip'

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_Clang_mingw_en_Win32
          path: 'build\Notepad4_Clang_Win32_*.zip'
