name: CI

on: [push, pull_request]

defaults:
  run:
    shell: cmd

jobs:
  msvc:
    strategy:
      matrix:
        system: [
          { runner: windows-2025-vs2026, version: '2026' },
          { runner: windows-2022, version: '2022' },
        ]
        platform: [Win32, x64, ARM64, AVX2, AVX512]
    name: MSVC ${{ matrix.system.version }} (${{ matrix.platform }})
    runs-on: ${{ matrix.system.runner }}
    steps:
    - uses: actions/checkout@v6

    - name: Update Version Hash
      run: |
        "c:/Program Files/Git/usr/bin/sed" -i "s/^\(.\+\)[0-9a-f]\{8\}\(.\+\)$/\1%GITHUB_SHA:~0,8%\2/gm" ./src/VersionRev.h ./matepath/src/VersionRev.h

    - name: MSVC ${{ matrix.platform }} Release
      run: |
        CALL "build\VisualStudio\build.bat" Build ${{ matrix.platform }} Release 1
        CALL "locale\build.bat" Build ${{ matrix.platform }} Release 1
        CALL "build\make_zip.bat" MSVC ${{ matrix.platform }} Release Locale 1

    - uses: actions/upload-artifact@v7
      with:
          name: Notepad4_MSVC${{ matrix.system.version }}_i18n_${{ matrix.platform }}
          path: 'build\Notepad4_i18n_${{ matrix.platform }}_*.zip'

  llvm_msvc:
    strategy:
      matrix:
        system: [
          { runner: windows-2025-vs2026, version: '2026' },
          { runner: windows-2022, version: '2022' },
        ]
        platform: [Win32, x64, ARM64, AVX2, AVX512]
    name: LLVM MSVC ${{ matrix.system.version }} (${{ matrix.platform }})
    runs-on: ${{ matrix.system.runner }}
    steps:
    - uses: actions/checkout@v6

    - name: Update Version Hash
      run: |
        "c:/Program Files/Git/usr/bin/sed" -i "s/^\(.\+\)[0-9a-f]\{8\}\(.\+\)$/\1%GITHUB_SHA:~0,8%\2/gm" ./src/VersionRev.h ./matepath/src/VersionRev.h

    - name: Install LLVM
      run: |
        CALL "build\install_llvm.bat" latest 1

    - name: Clang ${{ matrix.platform }} Release
      run: |
        CALL "build\VisualStudio\build.bat" Build ${{ matrix.platform }} LLVMRelease 1
        CALL "build\make_zip.bat" LLVM ${{ matrix.platform }} Release 1

    - uses: actions/upload-artifact@v7
      with:
          name: Notepad4_Clang_MSVC${{ matrix.system.version }}_en_${{ matrix.platform }}
          path: 'build\Notepad4_LLVM_${{ matrix.platform }}_*.zip'

  llvm_mingw:
    strategy:
      matrix:
        platform: [Win32, x64, ARM64, AVX2, AVX512]
    name: llvm-mingw (${{ matrix.platform }})
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v6

    - name: Update Version Hash
      run: |
        "c:/Program Files/Git/usr/bin/sed" -i "s/^\(.\+\)[0-9a-f]\{8\}\(.\+\)$/\1%GITHUB_SHA:~0,8%\2/gm" ./src/VersionRev.h ./matepath/src/VersionRev.h

    - name: Install llvm-mingw
      run: |
        CALL "build\install_mingw.bat" llvm

    - name: Clang ${{ matrix.platform }} Release
      run: |
        CALL "build\mingw\build.bat" llvm ${{ matrix.platform }}
        CALL "build\make_zip.bat" Clang ${{ matrix.platform }} Release 1

    - uses: actions/upload-artifact@v7
      with:
          name: Notepad4_llvm_mingw_en_${{ matrix.platform }}
          path: 'build\Notepad4_Clang_${{ matrix.platform }}_*.zip'

  mingw:
    strategy:
      matrix:
        arch: [ucrt, x86_64]
        compiler: [GCC, Clang]
        platform: [x64, AVX2, AVX512]
        include:
          - arch: i686
            platform: Win32
            compiler: GCC
          - arch: i686
            platform: Win32
            compiler: Clang
    name: ${{ matrix.arch }} ${{ matrix.compiler }} (${{ matrix.platform }})
    runs-on: windows-latest
    # pacman may fail to download packages from mirror site
    continue-on-error: true
    steps:
    - uses: actions/checkout@v6

    - name: Update Version Hash
      run: |
        "c:/Program Files/Git/usr/bin/sed" -i "s/^\(.\+\)[0-9a-f]\{8\}\(.\+\)$/\1%GITHUB_SHA:~0,8%\2/gm" ./src/VersionRev.h ./matepath/src/VersionRev.h

    - name: Install ${{ matrix.compiler }}
      run: |
        CALL "build\install_mingw.bat" ${{ matrix.arch }} ${{ matrix.compiler }}

    - name: ${{ matrix.compiler }} ${{ matrix.platform }} Release
      run: |
        CALL "build\mingw\build.bat" ${{ matrix.arch }} ${{ matrix.platform }} ${{ matrix.compiler }}
        CALL "build\make_zip.bat" ${{ matrix.compiler }} ${{ matrix.platform }} Release 1

    - uses: actions/upload-artifact@v7
      with:
          name: Notepad4_${{ matrix.compiler }}${{ case(matrix.compiler == 'Clang', '_mingw', '') }}_en_${{ matrix.platform }}${{ case(matrix.arch == 'ucrt', '_ucrt', '') }}
          path: 'build\Notepad4_${{ matrix.compiler }}_${{ matrix.platform }}_*.zip'
