name: CI

on: [push, pull_request]

defaults:
  run:
    shell: cmd

jobs:
  msvc2022:
    name: Visual C++ 2022
    runs-on: windows-2022
    strategy:
      matrix:
        platform: [Win32, x64, ARM64, AVX2, AVX512]
        configuration: [Release]

    steps:
    - uses: actions/checkout@v6

    - name: Install NSIS
      uses: negrutiu/nsis-install@v2

    - name: Update Version Hash
      run: |
        "c:/Program Files/Git/usr/bin/sed" -i "s/^\(.\+\)[0-9a-f]\{8\}\(.\+\)$/\1%GITHUB_SHA:~0,8%\2/gm" ./src/VersionRev.h ./matepath/src/VersionRev.h

    - name: MSVC ${{ matrix.configuration }} Release
      run: |
        CALL "build\VisualStudio\build.bat" Build ${{ matrix.platform }} ${{ matrix.configuration }} 1
        CALL "locale\build.bat" Build ${{ matrix.platform }} ${{ matrix.configuration }} 1
        CALL "build\make_zip.bat" MSVC ${{ matrix.platform }} ${{ matrix.configuration }} Locale 1
    
    - name: MSVC ${{ matrix.configuration }} Installer build
      shell: powershell
      run: |
        $platform = "${{ matrix.platform }}"
        $version = if ("${{ github.ref }}" -like "refs/tags/*") { "${{ github.ref_name }}" } else { "dev" }
        $outputFile = "Notepad4-${version}-${platform}.exe"
        makensis /DVERSION="$version" /DARCH="$platform" /DOUTPUT_FILE="$outputFile" build\Notepad4.nsi


    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_MSVC_Installers_${{ matrix.platform }}
          path: 'build/Notepad4-*.exe'

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_MSVC2022_i18n_x64
          path: 'build\Notepad4_i18n_x64_*.zip'

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_MSVC2022_i18n_Win32
          path: 'build\Notepad4_i18n_Win32_*.zip'

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_MSVC2022_i18n_AVX2
          path: 'build\Notepad4_i18n_AVX2_*.zip'

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_MSVC2022_i18n_AVX512
          path: 'build\Notepad4_i18n_AVX512_*.zip'

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_MSVC2022_i18n_ARM64
          path: 'build\Notepad4_i18n_ARM64_*.zip'

  llvm_msvc2022:
    name: LLVM (Visual C++ 2022)
    runs-on: windows-2022

    strategy:
      matrix:
        platform: [Win32, x64, ARM64, AVX2, AVX512]
        configuration: [Release]
    steps:
    - uses: actions/checkout@v6
    
    - name: Update Version Hash
      run: |
        "c:/Program Files/Git/usr/bin/sed" -i "s/^\(.\+\)[0-9a-f]\{8\}\(.\+\)$/\1%GITHUB_SHA:~0,8%\2/gm" ./src/VersionRev.h ./matepath/src/VersionRev.h

    - name: Install LLVM
      run: |
        CALL "build\install_llvm.bat" latest 1

    - name: Clang ${{ matrix.platform }} Release
      run: |
        CALL "build\VisualStudio\build.bat" Build ${{ matrix.platform }} LLVMRelease 1
        CALL "build\make_zip.bat" LLVM ${{ matrix.platform }} ${{ matrix.configuration }} 1

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_Clang_MSVC2022_en_x64
          path: 'build\Notepad4_LLVM_x64_*.zip'

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_Clang_MSVC2022_en_Win32
          path: 'build\Notepad4_LLVM_Win32_*.zip'

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_Clang_MSVC2022_en_AVX2
          path: 'build\Notepad4_LLVM_AVX2_*.zip'

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_Clang_MSVC2022_en_AVX512
          path: 'build\Notepad4_LLVM_AVX512_*.zip'

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_Clang_MSVC2022_en_ARM64
          path: 'build\Notepad4_LLVM_ARM64_*.zip'

  llvm_mingw:
    name: llvm-mingw
    runs-on: windows-latest
    strategy:
      matrix:
        platform: [Win32, x64, ARM64, AVX2, AVX512]
        configuration: [Release]
    continue-on-error: true
    steps:
    - uses: actions/checkout@v6

    - name: Update Version Hash
      run: |
        "c:/Program Files/Git/usr/bin/sed" -i "s/^\(.\+\)[0-9a-f]\{8\}\(.\+\)$/\1%GITHUB_SHA:~0,8%\2/gm" ./src/VersionRev.h ./matepath/src/VersionRev.h

    - name: Install llvm-mingw
      run: |
        CALL "build\install_mingw.bat" llvm

    - name: Clang ${{ matrix.platform }} Release
      run: |
        CALL "build\mingw\build.bat" llvm x86_64
        CALL "build\make_zip.bat" Clang ${{ matrix.platform }} ${{ matrix.configuration }} 1

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_llvm_mingw_en_x64
          path: 'build\Notepad4_Clang_x64_*.zip'

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_llvm_mingw_en_Win32
          path: 'build\Notepad4_Clang_Win32_*.zip'

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_llvm_mingw_en_AVX2
          path: 'build\Notepad4_Clang_AVX2_*.zip'

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_llvm_mingw_en_AVX512
          path: 'build\Notepad4_Clang_AVX512_*.zip'

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_llvm_mingw_en_ARM64
          path: 'build\Notepad4_Clang_ARM64_*.zip'

  gcc_ucrt:
    name: ucrt GCC and Clang
    runs-on: windows-latest
    strategy:
      matrix:
        platform: [Win32, x64, ARM64, AVX2, AVX512]
        configuration: [Release]
    steps:
    - uses: actions/checkout@v6

    - name: Update Version Hash
      run: |
        "c:/Program Files/Git/usr/bin/sed" -i "s/^\(.\+\)[0-9a-f]\{8\}\(.\+\)$/\1%GITHUB_SHA:~0,8%\2/gm" ./src/VersionRev.h ./matepath/src/VersionRev.h

    - name: Install GCC and Clang
      run: |
        CALL "build\install_mingw.bat" ucrt

    - name: GCC ${{ matrix.platform }} Release
      run: |
        CALL "build\mingw\build.bat" ucrt
        CALL "build\make_zip.bat" GCC ${{ matrix.platform }} ${{ matrix.configuration }} 1

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_GCC_en_x64_ucrt
          path: 'build\Notepad4_GCC_x64_*.zip'

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_GCC_en_AVX2_ucrt
          path: 'build\Notepad4_GCC_AVX2_*.zip'

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_GCC_en_AVX512_ucrt
          path: 'build\Notepad4_GCC_AVX512_*.zip'

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_Clang_mingw_en_x64_ucrt
          path: 'build\Notepad4_Clang_x64_*.zip'

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_Clang_mingw_en_AVX2_ucrt
          path: 'build\Notepad4_Clang_AVX2_*.zip'

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_Clang_mingw_en_AVX512_ucrt
          path: 'build\Notepad4_Clang_AVX512_*.zip'

  gcc_x86_64:
    name: 64-bit GCC and Clang
    runs-on: windows-latest
    strategy:
      matrix:
        platform: [Win32, x64, AVX2, AVX512]
        configuration: [Release]
    steps:
    - uses: actions/checkout@v6

    - name: Update Version Hash
      run: |
        "c:/Program Files/Git/usr/bin/sed" -i "s/^\(.\+\)[0-9a-f]\{8\}\(.\+\)$/\1%GITHUB_SHA:~0,8%\2/gm" ./src/VersionRev.h ./matepath/src/VersionRev.h

    - name: Install GCC and Clang
      run: |
        CALL "build\install_mingw.bat" x86_64

    - name: GCC ${{ matrix.platform }} Release
      run: |
        CALL "build\mingw\build.bat" x86_64
        CALL "build\make_zip.bat" GCC ${{ matrix.platform }} ${{ matrix.configuration }} 1

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_GCC_en_x64
          path: 'build\Notepad4_GCC_x64_*.zip'

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_GCC_en_AVX2
          path: 'build\Notepad4_GCC_AVX2_*.zip'

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_GCC_en_AVX512
          path: 'build\Notepad4_GCC_AVX512_*.zip'

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_Clang_mingw_en_x64
          path: 'build\Notepad4_Clang_x64_*.zip'

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_Clang_mingw_en_AVX2
          path: 'build\Notepad4_Clang_AVX2_*.zip'

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_Clang_mingw_en_AVX512
          path: 'build\Notepad4_Clang_AVX512_*.zip'

  gcc_i686:
    name: 32-bit GCC and Clang
    runs-on: windows-latest
    
    continue-on-error: true
    steps:
    - uses: actions/checkout@v6

    - name: Update Version Hash
      run: |
        "c:/Program Files/Git/usr/bin/sed" -i "s/^\(.\+\)[0-9a-f]\{8\}\(.\+\)$/\1%GITHUB_SHA:~0,8%\2/gm" ./src/VersionRev.h ./matepath/src/VersionRev.h

    - name: Install GCC and Clang
      run: |
        CALL "build\install_mingw.bat" i686

    - name: GCC Win32 Release
      run: |
        CALL "build\mingw\build.bat" i686
        CALL "build\make_zip.bat" GCC Win32 Release 1

    - name: Clang Win32 Release
      run: |
        CALL "build\mingw\build.bat" i686 Clang
        CALL "build\make_zip.bat" Clang Win32 Release 1

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_GCC_en_Win32
          path: 'build\Notepad4_GCC_Win32_*.zip'

    - uses: actions/upload-artifact@v5
      with:
          name: Notepad4_Clang_mingw_en_Win32
          path: 'build\Notepad4_Clang_Win32_*.zip'
